@media screen and (min-width: 500px) {
    header
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    #menuIcon
    {
        display: none;
    }

    h1
    {
        width: fit-content;
        font-size: 2.5rem;
    }
    nav li
    {
        display: inline-block;
        padding: 0 .5rem;
    }

    nav a
    {
        text-decoration: none;
        padding: .5rem 1rem;
        font-size: 1.5rem;
        border-bottom: none;
    }

    nav a:hover
    {
        border-bottom: white solid 2px;
    }

    nav
    {
        display: flex;
        width: fit-content;
        background-color: rgb(51, 163, 255);
    }

    h2
    {
        padding: 0;
        margin-top: 3%;
        grid-area: 1 / span 3;
    }

    #album
    {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1.5rem;
        margin: 3% auto;
    }

    figcaption
    {
        font-size: 170%;
    }

    footer
    {
        font-size: 1.5rem;
    }
}

