*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root
{
    --yellow: rgb(255, 255, 46);
    --blue: rgb(38, 14, 255);
    --red: rgb(255, 21, 21);
}

html
{
    font-family: 'Roboto', serif;
}

h1
{
    text-align: center;
    color: black;
    background-color: var(--yellow);
    font-size: 3rem;
    padding: 1rem 0;
}

picture img
{
    border-top: var(--blue) solid 1rem;
    width: 100%;
}

section li
{
    list-style: none;
    padding-bottom: .5rem;
}

section
{
    background-color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.1rem;
}

section img
{
    width: 7rem;
}

h2
{
    padding-bottom: 1rem;
}

footer
{
    font-size: 1.1rem;
    text-align: center;
    background-color: var(--red);
    color: white;
    padding: 2rem 0;
    border-top: 1rem solid var(--blue);
    border-bottom: 1px solid var(--red);
}