body
{
    font-family: "Roboto";
}

header, main, footer
{
    max-width: 640px;
    margin: 1rem auto;
    border: rgb(53, 53, 53) 1px solid;
    background-color: rgb(157, 255, 222);
    padding: 1rem;
}

main
{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section
{
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 6px;
}